%block-center {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

%block-center-x {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

%block-center-y {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%img-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 100%;
    max-height: 100%;
}

//make input select or textarea look like a plain text
%appearance {
    appearance: none;
}

//float layout
%clearfix {
    @include clearfix;
}

//singline
%singleline {
    @include singleline(100%);
}

%f1 {
    font-size: $font-size-1;
    line-height: $font-size-1;
}

%f2 {
    font-size: $font-size-2;
    line-height: $font-size-2;
}

%f3 {
    font-size: $font-size-3;
    line-height: $font-size-3;
}

%f4 {
    font-size: $font-size-4;
    line-height: $font-size-4;
}

%f5 {
    font-size: $font-size-5;
    line-height: $font-size-5;
}

%f6 {
    font-size: $font-size-6;
    line-height: $font-size-6;
}

%f7 {
    font-size: $font-size-7;
    line-height: $font-size-7;
}

%text-light {
    font-weight: $font-weight-light!important;
}

%text-normal {
    font-weight: $font-weight-normal!important;
}

%text-bold {
    font-family: $font-weight-bold !important;
}

//font icon define
%icon {
    @include fonticon();
}