#loadingSection {
	margin-bottom: 30px;
}

#flexPanel .gs-fixed {
	background-color: #ff4500;
	color: #ffffff;
}

.colors {
	.circle {
		float: left;
		margin-right: 0.5rem;
	}
}

@media (max-width: 767px) {
	.highlight-mobile {
		color: #78004e;
		font-weight: 500;
	}
}

@media (min-width: 768px) {
	.highlight-desktop {
		color: #78004e;
		font-weight: 500;
	}
}

.girdSystem [class^='col-'] {
	background: #eeeeee;
	border: 2px solid white;
	padding: 10px 0;
	text-align: center;
}

.flexSystem .flex > div,
.flexSystem .gs > [class^='gs-'] {
	background: #eeeeee;
	border: 2px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.table.responsive {
	min-width: 640px;
}

.table.responsive th {
	color: #a4a4a4;
}

.table.responsive td {
	border: solid 1px #d7d7d7;
}

.table.responsive .is-hidden {
	color: #666666;
}

.table.responsive .is-visible {
	background-color: #dff0d8;
}

.table.responsive .container td {
	background-color: #fff4d0;
}

.skeleton {
	padding: 10px;
}

.sticky-container {
	min-height: 1000px;
	background: #eeeeee;
}

.sticky-box {
	height: 100px;
	background: #666666;
}

.mapdemo {
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.view-panel,
.shifter {
	margin-bottom: 30px;
	position: relative;
}
.shifter > div > div {
	width: 320px;
	height: 200px;
}

.view-panel > div > div,
.shifter > div > div {
	text-align: center;
	padding: 0 5px;
	background: #333;
	color: #fff;
	border: 1px solid #666;
	display: flex;
	align-items: center;
	justify-content: center;
}

[data-horizontal='true'] > div > div {
	min-width: 200px;
	height: 100px;
}

[data-horizontal='false'] > div > div {
	width: 100%;
	height: 100px;
}

.tab-panel {
	min-height: 300px;
}
