%btn-color {
	&.minor {
		--button-bg: #{$color-minor-l1};
		--button-border: #{$color-minor};
		--button-color: #{$color-front};
		--button-active-bg: #{$color-minor};
		--button-active-border: #{$color-minor-l1};
		--button-active-color: #{$color-front};
	}
	&.major {
		--button-bg: #{$color-major-l1};
		--button-border: #{$color-major};
		--button-color: #{$color-major};
		--button-active-bg: #{$color-major};
		--button-active-border: #{$color-major-l1};
		--button-active-color: #{$color-bg};
	}
	&.danger {
		--button-bg: #{$color-danger-l1};
		--button-border: #{$color-danger};
		--button-color: #{$color-danger};
		--button-active-bg: #{$color-danger};
		--button-active-border: #{$color-danger-l1};
		--button-active-color: #{$color-bg};
	}
	&.safe {
		--button-bg: #{$color-safe-l1};
		--button-border: #{$color-safe};
		--button-color: #{$color-safe};
		--button-active-bg: #{$color-safe};
		--button-active-border: #{$color-safe-l1};
		--button-active-color: #{$color-bg};
	}
}

%btn {
	--button-width: 100%;
	--button-bg: #{$color-bg};
	--button-border: #{$color-front-l1};
	--button-color: #{$color-front};
	--button-active-bg: #{$color-front};
	--button-active-border: #{$color-front-l1};
	--button-active-color: #{$color-bg};
	font-size: $font-size-5;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	@extend %btn-color;
	display: block;
	text-align: center;
	transition: opacity 0.1s ease-in-out;
	opacity: 0.75;
	border: none;
	cursor: pointer;
	border-radius: $radius-3;
	@include hover() {
		opacity: 1;
	}
	width: var(--button-width);
	background-color: var(--button-bg);
	box-shadow: 0 0 0 1px var(--button-border);
	color: var(--button-color);
	&.active {
		background-color: var(--button-active-bg);
		box-shadow: 0 0 0 1px var(--button-active-border);
		color: var(--button-active-color);
	}
	@include form-default-1();
	padding-left: $g2;
	padding-right: $g2;
	&.large {
		@include form-large-1();
	}
	&.small {
		@include form-small();
	}

	&[disabled] {
		background-color: $color-front-l1 !important;
		box-shadow: 0 0 0 1px $color-front-l1 !important;
		color: $color-front !important;
	}

	&.loading {
		opacity: 0.5 !important;
		cursor: wait !important;
	}
}

.btn {
	@extend %btn;
}

.btn-circle {
	display: inline-block;
	font-size: $font-size-4;
	border-radius: 50%;
	background-color: $color-front-l1;
	color: $color-major;
	text-align: center !important;
	@include hover() {
		color: $color-minor;
	}

	width: $el-size-4;
	height: $el-size-4;
	@include form-large-1();
	&.tiny {
		width: $el-size-2;
		height: $el-size-2;
		@include form-small();
	}
	&.small {
		width: $el-size-3;
		height: $el-size-3;
		@include form-default-1();
	}
}

[role^='dropdownbutton'],
[role*=' dropdownbutton'] {
	display: flex;
	position: relative;
	a {
		@extend %btn;
	}
	& > a:first-of-type {
		width: 100%;
		margin-right: 1px;
		border-right: none;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
	& > a:last-of-type {
		width: $el-size-4;
		flex-shrink: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.dropdown-button-list {
		position: absolute;
		background: $color-bg;
		top: $el-size-3;
		left: 0;
		right: 0;
		z-index: $ui-buttongroup-index;
		box-shadow: 0 0 0 1px $color-front-l1;
		display: none;
		> a {
			color: $color-front;
			background: $color-bg;
			border-color: $color-front-l1;
			box-shadow: none;
			border-top: 0;
		}
	}
}
