%btn-color {
  &.default {
      &.active {
          background-color: $color-3;
          color: $color-f;
      }
      box-shadow: 0 0 0 1px $color-3;
      color: $color-3;
  }
  &.warning {
      &.active {
          background-color: $color-warning;
          color: $color-f;
      }
      box-shadow: 0 0 0 1px $color-warning;
      color: $color-warning;
  }
  &.main {
      &.active {
          background-color: $color-main;
          color: $color-f;
      }
      box-shadow: 0 0 0 1px $color-main;
      color: $color-main;
  }
  &.danger {
      &.active {
          background-color: $color-danger;
          color: $color-f;
      }
      box-shadow: 0 0 0 1px $color-danger;
      color: $color-danger;
  }
  &.safe {
      &.active {
          background-color: $color-safe;
          color: $color-f;
      }
      box-shadow: 0 0 0 1px $color-safe;
      color: $color-safe;
  }
}

%btn {
  @include singleline();
  @extend %btn-color;
  display: block;
  text-align: center;
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
  border: none;
  cursor: pointer;
  border-radius: $border-radius;
  @include hover() {
    opacity: 0.9;
  }
  @include form-default-1();

  &.large {
    @include form-large-1();
  }
  &.small {
    @include form-small();
  }

  &[disabled] {
    background-color: $color-c !important;
    box-shadow: 0 0 0 1px $color-7 !important;
    color: $color-7 !important;
  }

  &.loading {
    opacity: 0.5 !important;
    cursor: wait !important;
  }
}

.btn {
  @extend %btn;
}

.btn-circle {
  display: inline-block;
  font-size: $font-size-4;
  border-radius: 50%;
  background-color: $color-e;
  color: $color-main;
  text-align: center !important;
  @include hover() {
    color: $color-warning;
  }

  width: $form-size-large;
  height: $form-size-large;
  @include form-large-1();
  &.tiny{
    width: $form-size-small;
    height: $form-size-small;
    @include form-small();
  }
  &.small {
    width: $form-size-default;
    height: $form-size-default;
    @include form-default-1();
  }
  &.orange {
    background-color: $color-warning !important;
    color: $color-f !important;
  }
}

[data-cui^="dropdownbutton"], [data-cui*=" dropdownbutton"],
[data-cui-load^="dropdownbutton"], [data-cui-load*=" dropdownbutton"] {
  display: flex;
  position: relative;
  a {
      @extend %btn;
  }
  & > a:first-of-type {
      width: 100%;
      margin-right: 1px;
      border-right: none;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
  }
  & > a:last-of-type {
      width: $form-size-large;
      flex-shrink: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .dropdown-button-list {
      position: absolute;
      background: $color-f;
      top: $form-size-large;
      left: $g1;
      right: $g1;
      z-index: $ui-buttongroup-index;
      box-shadow: 0 0 1px $color-0;
      display: none;
       > a {
          color: $color-0;
          background: $color-f;
          border-color: $color-e;
          box-shadow: none;
          border-top: 0;
      }
  }
}