.checkbox, .radio {
    display: inline-block;
    white-space: nowrap;
    min-width: fit-content;
    label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        padding: 0;
        margin-right: $g1;
        user-select: none;
        > input {
            display: none;
        }
        > i {
            @extend %icon;
            display: inline-block;
            width: $font-size-3;
            font-size:$font-size-3;
            color: $color-8;
            margin-right: $gxs;
        }
        input:checked + i {
        }
        input:disabled + i {
            color: $color-disable;
        }
    }
    &.small{
        label{
            > i{
                width: $font-size-4;
                font-size:$font-size-4;
            }
        }
    }
}

.checkbox {
    input + i:before {
        content: $icon-check_box_outline_blank;
    }
    input:checked + i:before {
        content: $icon-check_box;
    }
}

.radio {
    input + i:before {
        content: $icon-radio_button_checked;
    }
    input:checked + i:before {
        content: $icon-radio_button_unchecked;
    }
}
