#body{
    .color-front {
        color: $color-front;
    }

    .color-front-l1 {
        color: $color-front-l1;
    }

    .color-bg{
        color: $color-bg;
    }

    .color-bg-l1{
        color: $color-bg;
    }

    .color-white {
        color: $color-f;
    }

    .color-black{
        color: $color-0;
    }

    .color-major {
        color: $color-major;
    }

    .color-major-l1 {
        color: $color-major-l1;
    }

    .color-minor {
        color: $color-minor;
    }

    .color-minor-l1 {
        color: $color-minor-l1;
    }

    .color-safe {
        color: $color-safe;
    }

    .color-safe-l1 {
        color: $color-safe-l1;
    }

    .color-danger {
        color: $color-danger;
    }

    .color-danger-l1 {
        color: $color-danger-l1;
    }

    .color-tip{
        color: $color-tip;
    }

    .color-tip-l1{
        color: $color-tip-l1;
    }

    .bg-bg {
        background-color: $color-bg;
    }

    .bg-bg-l1 {
        background-color: $color-bg-l1;
    }

    .bg-front {
        background-color: $color-front;
    }

    .bg-front-l1 {
        background-color: $color-front-l1;
    }

    .bg-white {
        background-color: $color-f;
    }

    .bg-black{
        background-color: $color-0;
    }

    .bg-major {
        background-color: $color-major;
    }

    .bg-major-l1 {
        background-color: $color-major-l1;
    }

    .bg-minor {
        background-color: $color-minor;
    }

    .bg-minor-l1 {
        background-color: $color-minor-l1;
    }

     .bg-safe {
        background-color: $color-safe;
    }
    .bg-safe-l1{
        background-color: $color-safe-l1;
    }
    
    .bg-danger {
        background-color: $color-danger;
    }

    .bg-danger-l1 {
        background-color: $color-danger-l1;
    }

    .bg-tip{
        background-color: $color-tip;
    }

    .bg-tip-l1{
        background-color: $color-tip-l1;
    }
}