.datatable {
    width: 100%;
    border-collapse: collapse;
    th, td {
        padding: 10px 5px;
        border: 1px solid $color-border;
        text-align: left;
    }
}

.datatable-sort {
    position: relative;
    display: block;
    &:before{
        position: absolute;
        right: 0;
        top: 0;
        @extend %icon;
        display: inline-block;
    }
    &.active {
        &:before{
            content: $icon-sort;
        }
    }
    
    &.desc {
        &:before{
            content: $icon-sort;
            transform: rotateX(180deg);
        }
    }
}
