.select-textbox {
    position: relative;
    background: $color-f;
    > label {
        position: absolute;
        top: $gxs;
        left: $g1;
        color: $color-a;
        font-size: $font-size-7;
        pointer-events: none;
    }
    > select {
        @include form-default-2();
        background: transparent;
        appearance: none;
    }
    i {
        @extend %block-center-y;
        right: $g0;
        font-size: $font-size-4;
        color: $color-3;
        pointer-events: none;
    }
    &.large{
        > label {
            top: $g0;
            left: $g2;
        }
        > select{
           @include form-large-3();
        }
    }
}
