.select-textbox {
    position: relative;
    background: $color-f;
    > label {
        position: absolute;
        top: $gxs;
        left: $gxs;
        color: $color-a;
        font-size: $font-size-7;
        pointer-events: none;
    }
    > select {
        height:$form-size-normal;
        font-size: $font-size-5;
        padding: $g3 $gxs $gxs ;
        background: transparent;
        appearance: none;
    }
    i {
        @extend %block-center-y;
        right: $gxs;
        font-size: $font-size-4;
        color: $color-3;
        pointer-events: none;
    }
    &.small{
        > label {
            top:1px;
        }
        > select{
            height:$form-size-small;
            padding: $font-size-5 $gxs $gxs;
        }
    }
}
