.flow {
	@extend %clearfix;
	> ul {
		float: left;
		transition: transform 0.5s ease-in-out;
		> li {
			transition: opacity 1s ease-in-out;
			opacity: 0;
			display: block;
			position: relative;
			overflow: hidden;
		}
	}

	.flow-loaded {
		opacity: 1;
	}
	.flow-error {
	}
}
