//font icon base
@font-face {
	font-family: 'fonticon';
	src: url('../assets/fonts/fonticon.woff?b94lvl') format('woff'),
		url('../assets/fonts/fonticon.ttf?b94lvl') format('truetype'),
		url('../assets/fonts/fonticon.svg?b94lvl##fonticon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/* latin */
@font-face {
	font-family: $font-family;
	font-style: normal;
	font-weight: $font-weight-light;
	src: url('../assets/fonts/Roboto-light.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: $font-family;
	font-style: normal;
	font-weight: $font-weight-regular;
	src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
	font-display: swap;
}
