.form {
	label {
		margin-bottom: $g1;
	}
}

.form-filter {
	@include box-line();
	background-color: $color-minor-l1;
	padding: $g2 $g3;
	display: flex;
	flex-wrap: nowrap;
	gap: $g2;
	@include hidden-scrollbar();
	&.horizontal {
		> * {
			flex-shrink: 0;
		}
		overflow-x: scroll;
		overflow-y: hidden;
		flex-direction: roww;
	}
	&.vertical {
		overflow-x: hidden;
		overflow-y: scroll;
		flex-direction: column;
	}
}
