a {
    text-decoration: none!important;
    cursor: pointer;
    opacity: 0.95;
    outline: none;
    &:link {
        color: inherit;
    }
    @include hover(){
        opacity: 1;
        color: inherit;
    }
    &:visited, &:active {
        color: inherit;
    }
    &.link {
        color: $color-link-default;
        @include hover(){
            color: $color-link-default-hover;
        }
    }
    &[disable] {
        color: $color-mid;
        pointer-events: none;
    }
}
