a {
	text-decoration: none;
	cursor: pointer;
	outline: none;
	&:link,
	&:visited,
	&:active,
	&:hover {
		text-decoration: none;
		outline: none;
		color: inherit;
	}
	&.link {
		opacity: 0.95;
		color: $color-link-default;
		@include hover() {
			font-weight: $font-weight-bold;
			opacity: 1;
			color: $color-link-default-hover;
		}
	}
	&[disable] {
		color: $color-disabled;
	}
}
