.nav {
	@include box-line();
	&.sticky {
		position: sticky;
		top: 0;
		background-color: $color-bg;
		z-index: $ui-stick-index;
	}
	> ul {
		margin: 0 auto;
		max-width: fit-content;
	}
	a {
		border-bottom: 2px solid transparent;
		font-size: $font-size-5;
		padding: $g0 $g2;
		color: $color;
		display: inline-block;
		@include hover() {
			font-weight: $font-weight-bold;
			color: $color-major;
		}
		&.active {
			font-weight: $font-weight-bold;
			border-bottom-color: $color;
		}
	}
}
