.circle-item {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
  color: $color-bg;
  border: 1px solid $color-bg;
  line-height: 90px;
  text-align: center;

  &.color-main {
    color: $color-main;
    background-color: $color-main-bg;
  }

  &.color-danger {
    color: $color-danger;
    background-color: $color-danger-bg;
  }

  &.color-warning {
    color: $color-warning;
    background-color: $color-warning-bg;
  }

  &.color-tip {
    color: $color-tip;
    background-color: $color-tip-bg;
  }

  &.color-safe {
    color: $color-safe;
    background-color: $color-safe-bg;
  }
  
  &.color-mid {
    color: $color-front;
    background-color: $color-front-l1;
  }
  &.color-normal {
    color: $color-front;
    background-color: $color-bg;
  }
}
