.tab-panel {
	display: none;
	border: 1px solid $color-front-l1;
	padding: $g3;
}

[data-tab] {
	@extend %btn;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	min-width: 80px;
	box-shadow: 0 0 0 1px $color-front-l1;
	&.active {
		background: $color-front;
		color: $color-bg;
		border-bottom: none;
	}
}
[data-role*='tabs'] {
	> ul {
		display: flex;
		> li {
			margin-right: $g0;
		}
	}
}
