.tab-panel {
    display: none;
    border: 1px solid $color-border;
    padding: $g3;
}

[data-tab]{
    @extend %btn;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 80px;
    box-shadow: 0 0 0 1px $color-border;
    &.active {
        background: $color-7;
        color:$color-f;
        border-bottom: none;
    }
}
[data-cui^="tabs"], [data-cui*=" tabs"],
[data-cui-load^="tabs"], [data-cui-load*=" tabs"]{
    > ul {
        display: flex;
         > li {
            margin-right: $gs;
        }
    }
}

