.text-light {
    @extend %text-light;
}

.text-bold {
    @extend %text-bold;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-shadow {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .7);
}

.text-white {
    color: $color-f;
}

.text-darkgray {
    color: $color-3;
}

.text-gray {
    color: $color-7;
}

.text-lightgray {
    color: $color-a;
}

 .text-safe {
    color: $color-safe;
}
 .text-safe-l1 {
    color: $color-safe-l1;
}
.text-safe-2 {
    color: $color-safe-l2;
}
.text-safe-3 {
    color: $color-safe-l3;
}
.text-warning {
    color: $color-warning;
}
.text-warning-l1 {
    color: $color-warning-l1;
}
.text-warning-2 {
    color: $color-warning-l2;
}
.text-warning-3 {
    color: $color-warning-l3;
}
.text-danger {
    color: $color-danger;
}
.text-danger-l1 {
    color: $color-danger;
}
.text-danger-2 {
    color: $color-danger-l2;
}
.text-danger-3 {
    color: $color-danger-l3;
}
.text-main {
    color: $color-main;
}
.text-main-1 {
    color: $color-main-l1;
}
.text-main-2 {
    color: $color-main-l2;
}
.text-main-3 {
    color: $color-main-l3;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}
