.text-light {
    @extend %text-light;
}

.text-bold {
    @extend %text-bold;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-shadow {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .7);
}

.text-white {
    color: $color-bg;
}

.text-darkgray {
    color: $color-front;
}

.text-gray {
    color: $color-front-l1;
}

.text-lightgray {
    color: $color-front-l1;
}

 .text-safe {
    color: $color-safe;
}

.text-warning {
    color: $color-warning;
}

.text-danger {
    color: $color-danger;
}

.text-main {
    color: $color-main;
}


.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}
