.tip {
	position: absolute;
	z-index: $ui-tip-index;
	display: block;
	font-size: $font-size-6;
	opacity: 0;
	min-width: 150px;
	max-width: 280px;
	transition: opacity 0.2s ease-in-out;
	--tip-color: #{$color-bg};
	--tip-color-bg: #{$color-front};
	--tip-color-border: #{$color-front};
	--tip-arrow-size: 5px;
	--tip-arrow-gap: calc(var(--tip-arrow-size) * 2);
	.tip-inner {
		color: var(--tip-color);
		background-color: var(--tip-color-bg);
		box-shadow: 0 0 0 1px var(--tip-color-border);
		border-radius: 4px;
	}
	&.in {
		opacity: 1;
	}
	&.top {
		padding: 5px 0;
		transform: translateY(-100%);
		top: var(--tip-arrow-size);
		.tip-arrow {
			bottom: 0;
			left: 50%;
			border-width: var(--tip-arrow-size) var(--tip-arrow-size) 0;
			border-top-color: var(--tip-color-border);
		}
	}
	&.top-right {
		.tip-arrow {
			right: var(--tip-arrow-size);
			left: auto;
			margin-right: var(--tip-arrow-size);
		}
	}
	&.top-left {
		.tip-arrow {
			left: var(--tip-arrow-size);
			right: auto;
			margin-left: var(--tip-arrow-size);
		}
	}
	&.bottom {
		padding: var(--tip-arrow-gap) 0 0 0;
		transform: translateY(100%);
		bottom: var(--tip-arrow-size);
		.tip-arrow {
			top: var(--tip-arrow-size);
			left: 50%;
			border-width: 0 var(--tip-arrow-size) var(--tip-arrow-size);
			border-bottom-color: var(--tip-color-border);
		}
	}
	&.bottom-left {
		.tip-arrow {
			right: auto;
			left: var(--tip-arrow-size);
			margin-right: var(--tip-arrow-size);
		}
	}
	&.bottom-right {
		.tip-arrow {
			right: var(--tip-arrow-size);
			left: auto;
			margin-left: var(--tip-arrow-size);
		}
	}
	&.left {
		padding: 0 var(--tip-arrow-size);
		.tip-arrow {
			top: 50%;
			right: 0;
			margin-top: -5px;
			border-width: var(--tip-arrow-size) 0 var(--tip-arrow-size)
				var(--tip-arrow-size);
			border-left-color: var(--tip-color-border);
		}
	}
	&.right {
		padding: 0 5px;
		.tip-arrow {
			top: 50%;
			left: 0;
			margin-top: -5px;
			border-width: var(--tip-arrow-size) var(--tip-arrow-size)
				var(--tip-arrow-size) 0;
			border-right-color: var(--tip-color-border);
		}
	}
	&.info {
		color: var(--tip-color);
		background-color: var(--tip-color-bg);
		border: 1px solid var(--tip-color-bg);
		.tip-inner {
			text-align: left;
			@include border-bottom-radius(2px);
			&:before {
				@extend %icon;
				content: $icon-info;
				display: inline-block;
				padding: 0 3px;
			}
		}
		.tip-arrow {
			display: none;
		}
	}
	&.minor {
		.tip-inner {
			color: $color-minor-l1;
			background-color: $color-minor;
			text-align: left;
			border: 1px solid $color-minor-l1;
			@include border-bottom-radius(2px);
			&:before {
				@extend %icon;
				content: $icon-minor;
				display: inline-block;
				padding: 0 3px;
			}
		}
		.tip-arrow {
			display: none;
		}
	}
	&.error {
		.tip-inner {
			color: $color-danger;
			background-color: $color-danger-l1;
			text-align: left;
			border: 1px solid $color-danger;
			@include border-bottom-radius(2px);
			&:before {
				@extend %icon;
				content: $icon-minor;
				display: inline-block;
				padding: 0 3px;
			}
		}
		.tip-arrow {
			display: none;
		}
	}
	&.defalut {
		.tip-inner {
			padding: $g0 $g1;
			text-align: center;
			text-decoration: none;
		}
	}
}
.tip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
