.tip {
  position: absolute;
  z-index: $ui-tip-index;
  display: block;
  font-size: $font-size-7;
  opacity: 0;
  min-width: 150px;
  max-width: 320px;
  transition: opacity 0.5s ease-in-out;
  &.in {
    opacity: 1;
  }
  &.top {
    padding: 5px 0;
    transform: translateY(-100%);
    top: 3px;
    .tip-arrow {
      bottom: 0;
      left: 50%;
      border-width: 5px 5px 0;
      border-top-color: $color-mid;
    }
  }
  &.top-left {
    .tip-arrow {
      right: 5px;
      left: auto;
      margin-right: 5px;
    }
  }
  &.top-right { 
    .tip-arrow {
      left: 5px;
      right: auto;
      margin-left: 5px;
    }
  }
  &.bottom {
    padding: 5px 0;
    transform: translateY(100%);
    bottom: 3px;
    .tip-arrow {
      top: 0;
      left: 50%;
      border-width: 0 5px 5px;
      border-bottom-color: $color-mid;
    }
  }
  &.bottom-left {
    .tip-arrow {
      left: auto;
      right: 5px;
      margin-right: 5px;
    }
  }
  &.bottom-right {
    .tip-arrow {
      left: 5px;
      right: auto;
      margin-left: 5px;
    }
  }
  &.left {
    padding: 0 5px;
    .tip-arrow {
      top: 50%;
      right: 0;
      margin-top: -5px;
      border-width: 5px 0 5px 5px;
      border-left-color: $color-mid;
    }
  }
  &.right {
    padding: 0 5px;
    .tip-arrow {
      top: 50%;
      left: 0;
      margin-top: -5px;
      border-width: 5px 5px 5px 0;
      border-right-color: $color-mid;
    }
  }
  &.info {
    .tip-inner {
      color: $color-mid;
      background-color: $color-mid;
      text-align: left;
      border: 1px solid $color-mid;
      @include border-bottom-radius(2px);
      box-shadow: none;
      &:before {
        @extend %icon;
        content: $icon-info;
        display: inline-block;
        padding: 0 3px;
      }
    }
    .tip-arrow {
      display: none;
    }
  }
  &.warning {
    .tip-inner {
      color: $color-warning-bg;
      background-color: $color-warning;
      text-align: left;
      border: 1px solid $color-warning-bg;
      @include border-bottom-radius(2px);
      box-shadow: none;
      &:before {
        @extend %icon;
        content: $icon-warning;
        display: inline-block;
        padding: 0 3px;
      }
    }
    .tip-arrow {
      display: none;
    }
  }
  &.error {
    .tip-inner {
      color: $color-danger;
      background-color: $color-danger-bg;
      text-align: left;
      border: 1px solid $color-danger;
      @include border-bottom-radius(2px);
      box-shadow: none;
      &:before {
        @extend %icon;
        content: $icon-warning;
        display: inline-block;
        padding: 0 3px;
      }
    }
    .tip-arrow {
      display: none;
    }
  }
  &.defalut{
    .tip-inner {
      padding: 2px 5px;
      color: $color-bg;
      text-align: center;
      text-decoration: none;
      background-color: $color-mid;
      border-radius: 4px;
      box-shadow: 0 0 2px $color-font;
    }
  }
}
.tip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}