.h1,
.f1 {
  @extend %f1;
}

.h2,
.f2 {
  @extend %f2;
}

.h3,
.f3 {
  @extend %f3;
}

.h4,
.f4 {
  @extend %f4;
}

.h5,
.f5 {
  @extend %f5;
}

.h6,
.f6 {
  @extend %f6;
}

.h7,
.f7 {
  @extend %f7;
}

.f1,
.f2,
.f3,
.f4 {
  @extend %font-light;
}

.h5,
.h6,
.h7 {
  line-height: 1.618 rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7 {
  display: block;
  position: relative;
  width: 100%;
  @include singleline();
}

.h1,
.h2,
.h3,
.h4 {
  font-weight: $font-weight-bold;
  text-transform: capitalize;
  .sub, .sup {
    font-size: $font-size-5;
    text-transform: lowercase;
  }
}

.paragraph, p {
  margin: $g2 0;
  &.singleline-2 {
    @include multiline($lineCount: 2, $bgColor: white);
  }
  &.singleline-3 {
    @include multiline($lineCount: 3, $bgColor: white);
  }
}