.h1,
.f1 {
  @extend %f1;
}

.h2,
.f2 {
  @extend %f2;
}

.h3,
.f3 {
  @extend %f3;
}

.h4,
.f4 {
  @extend %f4;
}

.h5,
.f5 {
  @extend %f5;
}

.h6,
.f6 {
  @extend %f6;
}

.h7,
.f7 {
  @extend %f7;
}

.f1,
.f2,
.f3,
.f4 {
  @extend %text-light;
}

.h5,
.h6,
.h7 {
  @extend %text-bold;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7 {
  display: block;
  position: relative;
  width: 100%;
  @include singleline();
}
.section {
  margin:$g4 0;
  .panel{
    padding: 0 $g2;
  }
}
.panel {
  > .h1,
  > .h2,
  > .h3,
  > .h4,
  > .h5,
  > .h6 {
    text-transform: capitalize;
    .sub {
      font-size: $font-size-5;
      text-transform: lowercase;
    }
  }

  .paragraph, p {
    margin: $g0 0;
    &.singleline-2 {
      @include multiline($lineCount: 2, $bgColor: white);
    }
    &.singleline-3 {
      @include multiline($lineCount: 3, $bgColor: white);
    }
  }

  >[data-cui^="collapse"], >[data-cui*=" collapse"],
  >[data-cui-load^="collapse"], >[data-cui-load*=" collapse"] {
      padding-right: $g2;
      &:before {
          position: absolute;
          right: 0;
          top: 50%;
          @extend %icon;
          content: $icon-caret-left;
          font-size: $font-size-5;
          width:1rem;
          height:1rem;
          margin-top:-0.5rem;
      }
      &.shown {
        &:before{
          transform: rotate(-90deg);
        }
      }
  }
}
