//hide
#body .hide {
    display: none;
}

//help
.help {
    border-bottom: dashed 1px $color-front-l1;
    cursor: help;
}

.clearfix {
    @extend %clearfix;
}

.singleline {
    @extend %singleline;
}

[disabled] {
    pointer-events: none;
}