// very small screen / phone
$screen-xs-min: 320px;
// Small screen / tablet
$screen-sm-min: 640px;
// Medium screen / desktop
$screen-md-min: 992px;
// Large screen / wide desktop
$screen-lg: 1280px;
$screen-lg-min: $screen-lg;
$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
//font style
$font-family: 'Roboto';
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
//major
$color-major: var(--color-major);
$color-major-l1: var(--color-major-l1);
//minor
$color-minor: var(--color-minor);
$color-minor-l1: var(--color-minor-l1);

//green
$color-safe: var(--color-safe);
$color-safe-l1: var(--color-safe-l1);

//color for error
$color-danger: var(--color-danger);
$color-danger-l1: var(--color-danger-l1);

//color for rainbow
$color-l0: var(--color-l0);
$color-l1: var(--color-l1);
$color-l2: var(--color-l2);
$color-l3: var(--color-l3);
$color-l4: var(--color-l4);
$color-l5: var(--color-l5);
$color-l6: var(--color-l6);
$color-l7: var(--color-l7);
$color-l8: var(--color-l8);
$color-l9: var(--color-l9);

//gray level
$color-bg: var(--color-bg);
$color-bg-l1: var(--color-bg-l1);
$color-front: var(--color-front);
$color-front-l1: var(--color-front-l1);
$color-border: var(--color-border);
//color for link
$color-link-default: var(--color-link);
$color-link-default-hover: var(--color-link-hover);

//color for disable
$color-disabled: var(--color-disabled);

//f1 = f3 / 0.618 = f3 + f3 * 0.618
$font-size-1: 2.618rem;
//f2 = f3 + (f1-f3) *0.382
$font-size-2: 2rem;
//f3 = f5 / 0.618 = f5 + f5 * 0.618
$font-size-3: 1.618rem;
//f4 = f5 + (f3-f5) * 0.382
$font-size-4: 1.236rem;
//f5 =  f7 / 0.618 = f7 + f7 * 0.618
$font-size-5: 1rem;
//f6 = f7 + (f5-f7) * 0.382
$font-size-6: 0.764rem;
//0.618 = 1 * 0.618
$font-size-7: 0.618rem;

//half of gs
$gxs: 0.191rem;
//half of f7
$g0: 0.309rem;
//half of f5
$g1: 0.5rem;
//half of f3 or g0 + g1
$g2: 0.809rem;
//half of f1 or g1 + g2
$g3: 1.309rem;
//half of f1 or g2 + g3
$g4: 2.118rem;
//g3 + g4
$g5: 3.427rem;

//button & input & select
//f3(f5*1.618)
$el-size-1: 1.618rem;
//$gxs + f3(f5*1.618) + $gxs
$el-size-2: 2rem;
//$g1 + f3(f5*1.618) + $g1
$el-size-3: 2.618rem;
//$g1 + f3(f5*1.618) + $g1
//f7+ f2(f4*1.618) +f7
//$g0 + f3(f5*1.618) + f5(f7*1.618)  + $g0
$el-size-4: 3.236rem;

$radius-1: 0.809rem;
$radius-2: 1rem;
$radius-3: 1.309rem;
$radius-4: 1.618rem;

//z-index
$ui-tooltip-index: 1000;
$ui-popover-index: 1050;
$ui-buttongroup-index: 1100;
$ui-pin-index: 1930;
$ui-pin-hover-index: 1940;
$ui-stick-index: 1960;
$ui-header-overlay: 1990;
$ui-header-index: 2000;
$ui-header-list-index: 2010;
$ui-datepicker-index: 2100;
$ui-gautocomplete-index: 3000;
$ui-dropdown-index: 3100;
$ui-dialog-overlay: 10000;
$ui-dialog-index: 10010;
