<!DOCTYPE html>
<html lang="en" id="html">
	<head>
		<title>jQuery CUI</title>
		<meta name="Description" content="Author: Conjee Zou, UI solution, Category: List Page, Search Page" />
		<%= require('../page/meta.html').default %> 
	</head>
	<body id="body">
		<%= require('../page/header.html').default %>

	<%= require('../page/sw.html').default %> 
	<%= require('./list-js.html').default %>
</html>
